.gallery {
    background-image: var(--overlay-75), var(--section-top-gradient),
        var(--section-bottom-gradient),
        image-set(
            url("/images/bg-gallery-mob@1x.webp") 1x,
            url("/images/bg-gallery-mob@2x.webp") 2x
        );
    background-size: 100% 100%, 100% var(--section-gradient-height),
        100% var(--section-gradient-height), cover;
    background-position: top, top, bottom, center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .gallery {
        background-image: var(--overlay-85), var(--section-top-gradient),
            var(--section-bottom-gradient),
            image-set(
                url("/images/bg-gallery-tab@1x.webp") 1x,
                url("/images/bg-gallery-tab@2x.webp") 2x
            );
        background-size: 100% 100%, 100% var(--section-tab-gradient-height),
            100% var(--section-tab-gradient-height), cover;
    }
}

@media (min-width: 1280px) {
    .gallery {
        background-image: var(--overlay-85), var(--section-top-gradient),
            var(--section-bottom-gradient),
            image-set(
                url("/images/bg-gallery-desk@1x.webp") 1x,
                url("/images/bg-gallery-desk@2x.webp") 2x
            );
    }
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 415px;
    height: 294px;
}

@media (min-width: 1280px) {
    .swiper-slide {
        width: 606px;
        height: 429px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}
