.phone {
    padding-left: 36px;
}

@media (min-width: 1280px) {
    .phone {
        padding-left: 50px;
    }
}

.phone-label::after {
    content: "+38";
    position: absolute;
    width: 36px;
    bottom: 2px;
    left: 8px;
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #fff;
}

@media (min-width: 1280px) {
    .phone-label::after {
        width: 50px;
        font-size: 20px;
        line-height: 24px;
    }
}
