.contacts {
    background-image: var(--section-top-gradient),
        var(--section-bottom-gradient), var(--overlay-75),
        image-set(
            url("/images/bg-contacts-mob@1x.webp") 1x,
            url("/images/bg-contacts-mob@2x.webp") 2x
        );
    background-size: 100% var(--section-gradient-height),
        100% var(--section-gradient-height), 100% 100%, cover;
    background-position: top, bottom, top, center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .contacts {
        background-image: var(--section-top-gradient),
            var(--section-bottom-gradient), var(--overlay-75),
            image-set(
                url("/images/bg-contacts-tab@1x.webp") 1x,
                url("/images/bg-contacts-tab@2x.webp") 2x
            );
        background-size: 100% var(--section-tab-gradient-height),
            100% var(--section-tab-gradient-height), 100% 100%, cover;
    }
}

@media (min-width: 1280px) {
    .contacts {
        background-image: var(--section-top-gradient),
            var(--section-bottom-gradient), var(--overlay-75),
            image-set(
                url("/images/bg-contacts-desk@1x.webp") 1x,
                url("/images/bg-contacts-desk@2x.webp") 2x
            );
    }
}
