.about {
    background-image: var(--overlay-50),
        image-set(
            url("/images/bg-about-mob@1x.webp") 1x,
            url("/images/bg-about-mob@2x.webp") 2x
        );
}

@media screen and (min-width: 768px) {
    .about {
        background-image: var(--overlay-50),
            image-set(
                url("/images/bg-about-tab@1x.webp") 1x,
                url("/images/bg-about-tab@2x.webp") 2x
            );
    }
}

@media screen and (min-width: 1280px) {
    .about {
        background-image: var(--overlay-50),
            image-set(
                url("/images/bg-about-desk@1x.webp") 1x,
                url("/images/bg-about-desk@2x.webp") 2x
            );
    }
}
