@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --frontcolor-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;

    --overlay-50: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
    --overlay-75: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
    --overlay-85: linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85));

    --section-top-gradient: linear-gradient(
        180deg,
        #002426 0%,
        rgba(0, 37, 49, 0) 100%
    );
    --section-bottom-gradient: linear-gradient(
        0deg,
        #002426 0%,
        rgba(0, 37, 49, 0) 100%
    );
}

body {
    color: rgb(var(--frontcolor-rgb));
    background-color: rgb(var(--background-rgb));
}

.container {
    @apply mx-auto max-w-screen-lg-mob text-white
    tab:max-w-screen-tab tab:w-[768px]
    desk:max-w-screen-desk desk:w-[1280px];
}

.subtitle {
    @apply uppercase text-[40px] font-thin leading-[56px] tracking-[-1.6px] 
    tab:text-[67px] tab:leading-[67px] tab:tracking-[-2.68px] 
    desk:text-[98px] desk:tracking-[-3.92px] desk:leading-[98px];
}
